// Quasar Sass (& SCSS) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

  :root
    --q-mynewcolor: #1900fe


// for light
.body--light
  --q-primary: #1976d2
  --q-secondary: #26a69a
  --q-accent: #808080

  --q-positive: #21ba45
  --q-negative: #c10015
  --q-info: #31ccec
  --q-warning: #f2c037


// for dark
.body--dark
  --q-primary: #1976d2
  --q-secondary: #26a69a
  --q-accent: rgb(44, 57, 106)

  --q-dark: #13212f
  --q-dark-page: #0a1822

  --q-positive: #3c5eda
  --q-negative: #69170f
  --q-info: #31ccec
  --q-warning: #f2c037
  --q-hover: #223243
//--q-active: rgb(44, 57, 106)


.text-mynewcolor
  color: var(--q-mynewcolor) !important


.bg-mynewcolor
  background: var(--q-mynewcolor) !important


